{% extends "layout.html" %}

{% block title %}Cookies Policy{% endblock %}

{% block content %}
    <h5 class="display-4 text-center mb-5">Cookies Policy</h5>
    <p>
    	In this document, every time we use the following words: "we", "our", "website", "service"
    	we are referring to the owners of and the site itself, namely TopAnimeCharacters.com.
    </p>
    <hr>
    <p><strong>Note that this document is far from finished</strong></p>
    <p>To learn more here is a link: <a href="https://www.cookiesandyou.com/" target="_blank">https://www.cookiesandyou.com/</a></p>
    <script id="CookieDeclaration" src="https://consent.cookiebot.com/28b90d45-fb53-4f3a-8586-706aa7a50d60/cd.js" type="text/javascript" async></script>
    <hr id="child-footer" class="border-primary rounded-top mt-4">
{% endblock %}