{% extends "layout.html" %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
    <h5 class="display-4 text-center mb-5">Privacy Policy</h5>
    <p>
    	In this document, every time we use the following words: "we", "our", "website", "service"
    	we are referring to the owners of and the site itself, namely TopAnimeCharacters.com.
    </p>
    <hr>
    <p><strong>Note that this document is far from finished</strong></p>
    <p class="mb-4">
    	When you register an account on our website, we collect your email among the other things when registering. We only use your email to send newsletters and user pings.
    	Your email also functions as a unique identifier of your account on our website. Those are the only things your email is being used for and nothing else!
    </p>
    <h5>This website relies on some of Google's services:</h5>
	<ul>
		<li>Google AdSense</li>
		<li>Google Analytics</li>
		<li>Google Recaptcha</li>
	</ul>
	<p>...</p>
	<p class="mb-1">If you want to read more about how google handles your data and how you can control it to some degree, here are some links:</p>
	<ul>
		<li><a target="_blank" href="https://policies.google.com/privacy">Google's Privacy Policy</a></li>
		<li><a target="_blank" href="https://policies.google.com/terms">Google's Terms of Service</a></li>
		<li><a target="_blank" href="https://policies.google.com/technologies/cookies">Google's cookies</a></li>
		<li><a target="_blank" href="https://adssettings.google.com/authenticated">Google's Ad personalization</a></li>
	</ul>
    <hr id="child-footer" class="border-primary rounded-top mt-4">
{% endblock %}