{% extends "layout.html" %}

{% block title %}Terms Of Use{% endblock %}

{% block content %}
    <h5 class="display-4 text-center mb-5">Terms Of Use</h5>
    <p>
    	In this document, every time we use the following words: "we", "our", "website", "service"
    	we are referring to the owners of and the site itself, namely TopAnimeCharacters.com.
    </p>
    <hr>
    <p><strong>Note that this document is far from finished but here is a key point you as a user should know when using this website:</strong></p>
    <ul class="mb-5">
    	<li>We have the right to terminate your account at any momemt if you take actions on our website that we deem inappropriate or against our rules</li>
    </ul>
    <p>If you do not agree to these terms of use, you may not access or use our website.</p>
    <hr id="child-footer" class="border-primary rounded-top mt-4">
{% endblock %}