{% extends "mails/vendor/layout_mail_action.html" %}

{% block title %}Reset Password{% endblock %}

{% block header %}Hi {{ username }}.{% endblock %}

{% block content %}
    <p>Please click the link down below to reset your password.</p>
    <p>
        You requested that your password for your TopAnimeCharacters account be reset.
        Make sure you remember your password the next time ;).
        If you didn't request a password reset, then just ignore this i think. yeah xD
    </p>
{% endblock %}

{% block button_url %}{{ password_reset_url }}{% endblock %}

{% block button_text %}Reset Password{% endblock %}