{% extends "layout.html" %}

{% block title %}Approve Pictures{% endblock %}

{% block content %}
    {% if pictures.count() %}
        {% set loaded_pics = pagination.per_page * (pagination.page - 1) %}
        <div class="modal fade" id="control-amount-modal" tabindex="-1" role="dialog" aria-labelledby="control-amount-title" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="control-amount-title">Change displaying of submitted pictures</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="rangeInput">Change Amount of submitted pictures to display per page</label>
                        <input id="rangeInput" class="custom-range" type="range"
                               value="{{ pagination.per_page }}" min="1"
                               max="50">
                        <span id="amount-value" class="badge badge-secondary">{{ pagination.per_page }}</span>
                        <a id="get" class="btn btn-outline-primary float-right btn-sm apply-changes disabled"
                           href="{{ url_for('admin.approve_pictures') }}">
                            Apply changes</a>
                        <hr id="child-footer" class="border-primary rounded-top mt-4 mb-0">
                    </div>
                </div>
            </div>
        </div>
        {% for picture in pictures %}
            <div class="modal fade" id="character{{ loop.index + loaded_pics }}" tabindex="-1" role="dialog" aria-labelledby="approve-picture-modal-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="approve-picture-modal-title">Approve picture nr.
                                <span class="badge badge-dark">{{ loop.index + loaded_pics }}</span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            <div class="modal-header">
                                <a href="{{ url_for('characters.character', hashid=create_char_hashid(picture.character.id, extra_salt=CHARACTER)) }}"
                                   target="_blank" class="modal-title h5 text-truncate" data-placement="top"
                                   title="<p class='h5 mt-1'>{{ picture.character.name }}</p>"
                                   data-toggle="tooltip">{{ picture.character.name }}</a>
                            </div>
                        {% if picture.user and not picture.user.is_admin and not picture.user.is_banned and not picture.user_striked %}
                            <div class="modal-header">
                                <p class="modal-title">If you choose to delete the picture, then consider if you should give the user a strike before deleting it, if the picture is very inappropriate.</p>
                            </div>
                        {% endif %}
                        <div class="modal-body">
                            <div class="mb-2">
                                <img id="character-img" src="{{ picture.character_picture }}" alt="character picture">
                            </div>
                            <a id="action"
                               href="{{ url_for('admin.approve_picture', hashid=create_pic_hashid(picture.id, extra_salt=CHARACTER_TEMP_PICS)) }}"
                               class="btn btn-outline-primary">Submit to public</a>
                            <a id="action"
                               href="{{ url_for('admin.delete_submitted_picture', hashid=create_pic_hashid(picture.id, extra_salt=CHARACTER_TEMP_PICS)) }}"
                               class="btn btn-outline-danger ml-1"><b>DELETE SUBMITTED PICTURE</b></a>
                            <hr id="child-footer" class="border-primary rounded-top mt-4 mb-0">
                        </div>
                    </div>
                </div>
            </div>
            {% if picture.user and not picture.user.is_admin %}
                <div class="modal fade" id="strike-user-modal{{ picture.user.id }}" tabindex="-1" role="dialog" aria-labelledby="strike-user-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="strike-user-title">Strike User at picture nr. <span class="badge badge-dark align-text-bottom">{{ loop.index + loaded_pics }}</span></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-header">
                                <h5 class="modal-title text-truncate" data-placement="top" title="<p class='h5 mt-1'>{{ picture.user.username }}</p>" data-toggle="tooltip">{{ picture.user.username }}</h5>
                            </div>
                            <div class="modal-header">
                                <h5 class="modal-title">STRIKES <span class="badge badge-{% if picture.user.strikes == 0 %}success{% else %}danger{% endif %} align-text-bottom">
                                {{ picture.user.strikes }}</span></h5>
                            </div>
                            <div class="modal-body">
                                {% if not picture.user_striked %}
                                    <a id="action" href="{{ url_for('admin.strike_user_by_picture', hashid=create_pic_hashid(picture.id, extra_salt=CHARACTER_TEMP_PICS), user_id=picture.user.id) }}" 
                                        class="btn btn-outline-danger ml-1">
                                        <b>STRIKE USER</b>
                                    </a>
                                {% else %}
                                    <button type="button" class="btn btn-outline-danger" disabled="">User already striked</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="card-deck justify-content-center align-items-center">
            {% for picture in pictures %}
                <div id="card" class="card mb-5 mx-3 shadow">
                    <a data-toggle="modal" href="#character{{ loop.index + loaded_pics }}" role="button" class="text-decoration-none text-reset">
                        <img id="card-pic" class="card-img-top"
                             src="{{ picture.character_picture }}"
                             alt="character picture">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Nr.
                                <span class="badge badge-dark">
                                    {{ loop.index + loaded_pics }}
                                </span>
                            </li>
                            <a href="{{ url_for('characters.character', hashid=create_char_hashid(picture.character.id, extra_salt=CHARACTER)) }}" 
                            class="list-group-item list-group-item-action text-truncate bg-primary text-white font-weight-bold" 
                            target="_blank" data-placement="top" title="<p class='h6 mt-1'>{{ picture.character.name }}</p>" data-toggle="tooltip">{{ picture.character.name }}</a>
                            {% if picture.user %}
                                {% if not picture.user.is_banned %}
                                    <li class="list-group-item text-truncate" data-placement="right"
                                        title="<p class='h6 mt-1'>{{ picture.user.username }}</p>"
                                        data-toggle="tooltip">{{ picture.user.username }}</li>
                                    <li class="list-group-item text-truncate" data-placement="right"
                                        title="<p class='h6 mt-1'>{{ picture.user.email }}</p>"
                                        data-toggle="tooltip">{{ picture.user.email }}</li>
                                        {% if picture.user.is_admin %}
                                            <li class="list-group-item text-primary">Admin</li>
                                        {% else %}
                                            <button type="button" class="list-group-item list-group-item-action bg-danger text-white" data-toggle="modal" data-target="#strike-user-modal{{ picture.user.id }}">Strike User</button>
                                        {% endif %}
                                {% else %}
                                    <li class="list-group-item">The user have been BANNED</li>
                                    <li class="list-group-item">The user have been BANNED</li>
                                    <li class="list-group-item">The user have been BANNED</li>
                                {% endif %}
                            {% else %}
                                <li class="list-group-item">The user have deleted their account</li>
                                <li class="list-group-item">The user have deleted their account</li>
                                <li class="list-group-item">The user have deleted their account</li>
                            {% endif %}
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
        <hr id="child-footer" class="border-primary rounded-top">
        <div class="row">
            <div class="col-12 col-sm-4 order-last order-sm-first mt-3 mt-sm-0 text-center text-sm-left">
                <div class="btn-group bg-white" role="group" aria-label="Change amount of pictures to display per page">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#control-amount-modal"><i class="fas fa-sliders-h fa-lg"></i></button>
                </div>
            </div>
            {% if pagination.links %}
                <div class="col-12 col-sm-4">
                    {{ pagination.links }}
                </div>
                <div class="col-12 col-xl-4 text-center text-xl-right mt-1">
                    {{ pagination.info }}
                </div>
            {% else %}
                <div class="col-12 col-sm-8 text-center text-sm-right mt-1">
                    {{ pagination.info }}
                </div>
            {% endif %}
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-9">
                <h1 class="text-center text-break">No submitted pictures found on the
                    {{ pagination.page }}{% if pagination.page == 1 %}st
                    {% elif pagination.page == 2 %}nd{% elif pagination.page == 3 %}rd{% else %}th{% endif %}
                    page</h1>
            </div>
        </div>
        <hr id="child-footer" class="border-primary rounded-top">
    {% endif %}
{% endblock %}

{% block code_js %}
    <script>
        $(function () {
            let $changeAmountRange = $("#rangeInput");
            let $controlAmountModal = $("#control-amount-modal");
            let $amountOfPictures = $("#amount-value");
            let $applyChanges = $(".apply-changes");

            let previousAmountRangeVal = {{ pagination.per_page }};

            $controlAmountModal.on('shown.bs.modal', function () {
                $changeAmountRange.trigger('focus');
            });
            $changeAmountRange.on('input', function () {
                if (parseInt($changeAmountRange.val()) === previousAmountRangeVal) {
                    $applyChanges.addClass('disabled');
                } else {
                    $applyChanges.removeClass('disabled');
                }
                $amountOfPictures.html($changeAmountRange.val());
            });
            $applyChanges.on('click', function () {
                $changeAmountRange.off('input');
                Cookies.set('approve_pictures_per_page', $changeAmountRange.val(), {expires: 365, path: '/admin/pictures'});
            });
        });
    </script>
{% endblock %}