{% extends "layout.html" %}

{% block title %}Profile Picture Change{% endblock %}

{% block content %}
    <div id="form-container" class="mx-auto">
        <h5 class="display-4 text-center mb-5">Profile Picture Update</h5>
        {% if current_user.profile_picture[79:] != 'default' %}
            <div class="row mb-4">
                <div class="col text-left">
                    <p>Current profile picture</p>
                    <img id="small-profile-pic" src="{{ current_user.profile_picture }}" alt="profile picture">
                </div>
            </div>
        {% endif %}
        <form method="POST" action="{{ url_for('users.update_profile_picture') }}" enctype="multipart/form-data"
              novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.profile_picture.label }}
                <div class="d-block fileinput fileinput-new" data-provides="fileinput">
                    <div id="preview-profile-picture" class="fileinput-preview fileinput-exists mb-2"></div>
                    <div id="picture-selection-group">
                        <div class="btn-group bg-white" role="group"
                             aria-label="Select a new profile picture">
                                <span class="btn btn-outline-{% if form.profile_picture.errors %}danger{% else %}secondary{% endif %} btn-file">
                                    <span class="fileinput-new ">Select your new profile picture</span>
                                    <span class="fileinput-exists">Change</span>
                                    {{ form.profile_picture(autofocus=True) }}
                                </span>
                        </div>
                        <div class="btn-group bg-white" role="group" aria-label="Remove profile picture">
                            <a href="#"
                               class="btn btn-outline-{% if form.profile_picture.errors %}danger{% else %}secondary{% endif %}
                                    fileinput-exists" data-dismiss="fileinput">Remove</a>
                        </div>
                    </div>
                </div>
                {% if form.profile_picture.errors %}
                    <div class="invalid-feedback d-block">
                        {% for error in form.profile_picture.errors %}{{ error }}{% endfor %}
                    </div>
                {% endif %}
                <small class="form-text text-muted">{{ form.profile_picture.description }}</small>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="btn-group bg-white" role="group" aria-label="Update your profile picture">
                        <button id="action" type="submit" class="btn btn-outline-primary">Update</button>
                    </div>
                </div>
            </div>
        </form>
        <hr id="child-footer" class="border-primary rounded-top mt-4">
    </div>
{% endblock %}